# Service core
codenames~=1.1
the-spymaster-util==1.7.5
the-spymaster-api==1.0.0

# Telegram bot
python-telegram-bot~=13.11

# Utils
requests~=2.27
dynaconf~=3.1
pydantic~=1.9
cachetools~=4.2
boto3~=1.24

# Monitor
sentry-sdk==1.5.10
