# Service core
codenames~=1.1
the-spymaster-util==1.10.0
the-spymaster-api==1.1.4

# Telegram bot
python-telegram-bot~=13.11

# Models
dynaconf~=3.1
pydantic~=1.9
pynamodb==5.2.1

# Utils
requests~=2.27
cachetools~=4.2
boto3~=1.24

# Monitor
sentry-sdk==1.5.10
